{% block title %}
The economics-fan
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    The questions we will ask you to answer are going to involve another person.
    We call him Frank to preserve anonymity.
</p>
<p>
Frank loves economics, and we are going to give him a present!
</p>
<p>
    He is going to get two books by two Nobel laureates in economics—Professors
    <a href="https://en.wikipedia.org/wiki/Alvin_E._Roth" target="_blank">Alvin Roth</a> and
    <a href="https://en.wikipedia.org/wiki/Paul_Milgrom" target="_blank">Paul Milgrom</a> (you can click each of their
    names to open their Wikipedia page).
    Professors Roth and Milgrom are professors at our university and have agreed to help with the study.
</p>
<p>
    Here are the two books:
</p>
[Pictures of the cover of the two books: who gets what and why + Discovering prices]

<p>
    Frank has already read some of their work and told us he has great admiration for them.
</p>
<p>
    The two books come with handwritten notes.
    But here is the twist! We have two copies of each of these books.
    One where the notes are from the famous authors themselves (Profs. Roth and Milgrom) and one where the notes are
    fake, written by someone excellent at copying handwriting.
</p>


The fake versions of the handwritten notes are indistinguishable from the original ones.
    Professors Roth and Milgrom themselves could not tell which is which!
</p>


<p>
    When you are ready, click "Next."
</p>



<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}

{% endblock %}
