{% block title %}
The economics-fan
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    The questions we will ask you to answer are going to involve another person.
    We call him Frank to preserve anonymity.
</p>
<p>
Frank loves economics, and we are going to give him a present!
</p>
<p>
    He is going to get two books by two Nobel laureates in economics—Professors
    <a href="https://en.wikipedia.org/wiki/Alvin_E._Roth" target="_blank">Alvin Roth</a> and
    <a href="https://en.wikipedia.org/wiki/Paul_Milgrom" target="_blank">Paul Milgrom</a> (you can click each of their
    names to open their Wikipedia page).
    Professors Roth and Milgrom are professors at our university and have agreed to help with the study.
</p>
<p>
    Here are the two books:
</p>
[Pictures of the cover of the two books: who gets what and why + Discovering prices]

<p>
    Frank has already read some of their work and told us he has great admiration for them.
</p>
<p>
    The two books come with handwritten notes.
    But here is the twist! We have two copies of each of these books.
    One where the notes are from the famous authors themselves (Profs. Roth and Milgrom) and one where the notes are
    fake, written by someone excellent at copying handwriting.
</p>

<p>
    The fake versions of the handwritten notes are indistinguishable from the original ones.
    Professors Roth and Milgrom themselves could not tell which is which!
</p>

<!--[Pictures of the two handwritten notes, so 2x2 pictures with ‘original’ and ‘fake’ headers +-->
<!--GIF (video/picture of them signing, equivalent with copier)-->
<!--We do either 4x1 or 2x2, videos on endless loop with 5 seconds (or so) showing a picture of-->
<!--the notes.-->
<!--“To Frank: I hope you enjoy reading about auctions! PM” “Dear Frank: I wish this inspires-->
<!--the way you think about markets. AR” - Let’s try and copy them ourselves and if we fail-->
<!--we can go back to Paul/Al and ask them to copy themselves and be sneaky about deception.-->
<!--We buy 6 copies and have them handwritten two copies each, and then we decide what to do.-->
<!--Plan A is to copy ourselves and Plan B.]-->

<p>
    Frank will receive two books, either the two with the original handwritten notes or the two with the fake ones.
    We will return the two books that we do not give to Frank back to Professors Roth and Milgrom.
    They will never know whether the books they get have the fake or the original notes in them.
</p>
<p>
    In addition to the books, Frank may also receive a surprise bonus.
    The answers you give will determine: - which two books (original or fake) he receives - the surprise bonus
</p>

<p>
    When you are ready, click "Next."
</p>


<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}

{% endblock %}
