{% block title %}
    Which books should Alex get?
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}
        
<div class="col-md-12 text-center">
  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Review Instructions
  </button>
</div>
<br>
{{ include C.DETAIL }}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Case 1: we WILL NOT tell Alex whether the books he got are the ones with
      the original or fake notes</h5>
    <div class="card-text">
      It is important that you understand which case we are in. Please answer the question below.
      <div style="text-align: center;">
        <br>
        {{ formfield "ES_learn" }}
      </div>
      <br>
      Okay, now you make the actual decision. Please decide which books Alex gets.
      <div style="text-align: center;">
        <br>
        <div style="display: inline-block; background-color: lightblue; padding: 10px;">
          {{ formfield "ES_wtp" }}
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Case 2: we WILL tell Alex whether the books he got are the ones with the original or fake notes</h5>
    <div class="card-text">
      It is important that you understand which case we are in. Please answer the question below.
      <div style="text-align: center;">
        <br>
        {{ formfield "Trad_learn" }}
      </div>
      <br>
      Okay, now you make the actual decision. Please decide which books Alex gets.
      <div style="text-align: center;">
        <br>
        <div style="display: inline-block; background-color: lightblue; padding: 10px;">
          {{ formfield "Trad_wtp" }}
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<button style="float: right" class="btn btn-primary btn-large">Next</button>

   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Review Instructions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {{ include C.PRE_VIDEO }}
                {{ include C.POST_VIDEO }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block styles %}

<style>
  .card-body {
    padding-bottom: 0 ;
    }
</style>

{% endblock %}

{% block scripts %}

{% endblock %}
