{% block title %}
    Which books and bonus should Alex get?
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

{{ include C.MPL}}

<p>
    Once you are confident that you understand how the table works, continue to give your answers.
</p>


<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}

{% block styles %}

<style>
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mpl_img {
      /* padding: 0 0 10px 10px; */
    }
</style>
{% endblock %}

{% block scripts %}

{% endblock %}
