{% block title %}
    Which books and bonus should Alex get?
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

        <div class="col-md-12 text-center">
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
 Review Instructions
</button>
    </div>
<br>
{{ if participant.switch_order }}

    <div class="card" id="Trad_id">
      <div class="card-body">
        <h5 class="card-title">Case 1: Remember, in this case, we WILL tell Alex whether the books he got are the
    ones with the original or fake notes</h5>
    <!--    <h6 class="card-subtitle mb-2 text-muted"></h6>-->
          {{ formfield "Trad_learn3" }}

          <p>Please tell us which option you prefer by clicking the table below.</p>
          <div id="wtp_elicitation_2"></div>
          <div id="hidden_fields_wtp_elicitation_2"></div>
          {{ formfield_errors 'Trad_wtp3' }}
      </div>
    </div>

    <br>

    <div class="card" id="ES_id">
      <div class="card-body">
        <h5 class="card-title">Case 2: Remember, in this case, we WILL NOT tell Alex whether the books he got are the
    ones with the original or fake notes</h5>
    <!--    <h6 class="card-subtitle mb-2 text-muted"></h6>-->
          {{ formfield "ES_learn3" }}

          <p>Please tell us which option you prefer by clicking the table below.</p>

          <div id="wtp_elicitation_1"></div>
          <div id="hidden_fields_wtp_elicitation_1"></div>
          {{ formfield_errors 'ES_wtp3' }}

      </div>
    </div>

{{ else }}

    <div class="card" id="ES_id">
      <div class="card-body">
        <h5 class="card-title">Case 1: Remember, in this case, we WILL NOT tell Alex whether the books he got are the
    ones with the original or fake notes</h5>
    <!--    <h6 class="card-subtitle mb-2 text-muted"></h6>-->
          {{ formfield "ES_learn3" }}

          <p>Please tell us which option you prefer by clicking the table below.</p>

          <div id="wtp_elicitation_1"></div>
          <div id="hidden_fields_wtp_elicitation_1"></div>
          {{ formfield_errors 'ES_wtp3' }}

      </div>
    </div>

    <br>

    <div class="card" id="Trad_id">
      <div class="card-body">
        <h5 class="card-title">Case 2: Remember, in this case, we WILL tell Alex whether the books he got are the
    ones with the original or fake notes</h5>
    <!--    <h6 class="card-subtitle mb-2 text-muted"></h6>-->
          {{ formfield "Trad_learn3" }}

          <p>Please tell us which option you prefer by clicking the table below.</p>
          <div id="wtp_elicitation_2"></div>
          <div id="hidden_fields_wtp_elicitation_2"></div>
          {{ formfield_errors 'Trad_wtp3' }}
      </div>
    </div>

{{ endif}}



<button style="float: right" class="btn btn-primary btn-large">Next</button>

   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Review Instructions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {{ include C.PRE_VIDEO }}
          {{ include C.POST_VIDEO }}
          {{ include C.DETAIL }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<button class="otree-btn-next btn btn-primary" id="true_next_button" style="display:none" >Next</button>

{{ formfield_errors 'Trad_learn3' }}

{{ formfield_errors 'ES_learn3' }}


{% endblock %}

{% block styles %}



<style>
  .orange{
    background-color: #FFCF9E !important;
    }
  .darkorange{
    background-color: orange !important;
    }
</style>
{% endblock %}

{% block scripts %}

<script src="{% static 'wtp.js' %}"></script>

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->



<script>
	parameters={
    playerID : "{{participant.code}}",
		leftHeader:"Fake notes and ...",
		rightHeader:"Original notes and ...",
		leftBonus:[5,10,15,20,25,30,35,40,45,50],
		rightBonus:[0,0,0,0,0,0,0,0,0,0],
		varname:"ES_wtp3", //variable name on oTree  ES_wtp3', '',
		root:"wtp_elicitation_1",
		hidden_fields_name:"hidden_fields_wtp_elicitation_1"
	}

  ES_strict = JSON.parse("{{participant.ES_strict}}")
  Trad_strict = JSON.parse("{{participant.Trad_strict}}")

  if (ES_strict==false) {
    document.getElementById("ES_id").style.display = "none"
  }
	
  if (Trad_strict==false) {
    document.getElementById("Trad_id").style.display = "none"
  }

	wtp_1 =new drawWTP(parameters);
	parameters={
    playerID : "{{participant.code}}",
		leftHeader:"Fake notes and ...",
		rightHeader:"Original notes and ...",
		leftBonus:[0,0,0,0,0,0,0,0,0,0],
		rightBonus:[5,10,15,20,25,30,35,40,45,50],
		varname:"Trad_wtp3", //variable name on oTree 
		root:"wtp_elicitation_2",
		hidden_fields_name:"hidden_fields_wtp_elicitation_2"
	}
 
	wtp_2 =new drawWTP(parameters);
</script>
{% endblock %}
