{% block title %}
Checking Your Understanding
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    It is important for our study that you understand the information from the previous page.
    We thus have a few simple questions that we would like you to answer before we proceed.
</p>

<div class="col-md-12 text-center">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Review Instructions</button>
</div>

{{ formfields }}

<button style="float: right" class="otree-btn-next btn btn-primary">Submit</button> &emsp;


   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Review Instructions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {{ include C.PRE_VIDEO }}
                {{ include C.POST_VIDEO }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}

{% endblock %}
