{% block title %}
We are giving a present to someone!
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="book-container">
                <div class="text-center">Here are the two books</div>
            
                <img src="{% static 'img/Discovering.jpg' %}"  alt="Book 1" class="img-fluid book-image">
                <img src="{% static 'img/who.jpg' %}" alt="Book 2" class="img-fluid book-image">
            </div>
        <p>
            The questions we will ask you to answer involve another person. His name is Alex.
        </p>
        
        <p>
            Alex loves economics, and we are going to give him a present!
        </p>
        
        <p>
            He is going to get two books by two Nobel laureates in economics—Professors
            <a href="https://en.wikipedia.org/wiki/Alvin_E._Roth" target="_blank">Alvin Roth</a> and
            <a href="https://en.wikipedia.org/wiki/Paul_Milgrom" target="_blank">Paul Milgrom</a> (you can click each of their
            names to open their Wikipedia page).
            Professors Roth and Milgrom are professors at our university and have agreed to help with the study.
        </p>

        <p>
          Alex has already read some of their work and told us he has great admiration for them.
        </p>

        <p>
          The two books come with handwritten notes. But here is the twist! We have two copies of each of these books. One where the notes are from the famous authors themselves (Profs. Roth and Milgrom) and one where the notes are fake, written by someone excellent at copying handwriting.
        </p>

        <p>
          The fake versions of the handwritten notes are indistinguishable from the original ones.
            Professors Roth and Milgrom themselves could not tell which is which!
        </p>

        <div class="video-container">
            <div class="text-center">Here is a video of the professors writing the notes</div>

<!--        <div style="position:relative;width:fit-content;height:fit-content;">-->
<!--            <a style="position:absolute;top:20px;right:1rem;opacity:0.8;"-->
<!--               href="https://clipchamp.com/watch/G8JhSf4R6Jo?utm_source=embed&utm_medium=embed&utm_campaign=watch">-->
<!--            </a>-->
<!--            <iframe allow="autoplay;" allowfullscreen style="border:none"
src="https://clipchamp.com/watch/G8JhSf4R6Jo/embed" width="200" height="360"></iframe>-->
<!--        </div>-->
<!--        <div style="position:relative;width:fit-content;height:fit-content;">-->
<!--            <a style="position:absolute;top:20px;right:1rem;opacity:0.8;"
href="https://clipchamp.com/watch/tRsY6JnyDhY?utm_source=embed&utm_medium=embed&utm_campaign=watch">-->
<!--                <img loading="lazy" style="height:22px;" src="https://clipchamp.com/e.svg" alt="" />-->
<!--            </a>-->
<!--            <iframe allow="autoplay;" allowfullscreen style="border:none"
src="https://clipchamp.com/watch/tRsY6JnyDhY/embed" width="200" height="360"></iframe>-->
<!--        </div>-->

            <img src="{% static 'img/discovering.gif' %}"  alt="Handwritten Notes Book 1" class="img-fluid book-image">
            <img src="{% static 'img/who.gif' %}" alt="Handwritten Notes Book 2" class="img-fluid book-image">
        </div>
        <p>
          Alex will receive two books, either the two with the original handwritten notes or the two with the fake ones. We will return the two books that we do not give to Alex back to Professors Roth and Milgrom. They will never know whether the books they get have the fake or the original notes in them.
        </p>

        <p>
          In addition to the books, Alex may also receive a surprise bonus. The answers you give will determine: - which two books (original or fake) he receives - the surprise bonus.
        </p>

        <p>
            When you are ready, click "Next."
        </p>
        
        
        <button style="float: right" class="btn btn-primary btn-large">Next</button>
        
      </div>
      
      
      </div>
    </div>
  </div>

<!-- 
<p>
    The fake versions of the handwritten notes are indistinguishable from the original ones.
    Professors Roth and Milgrom themselves could not tell which is which!
</p> --> 

<!--[Pictures of the two handwritten notes, so 2x2 pictures with ‘original’ and ‘fake’ headers +-->
<!--GIF (video/picture of them signing, equivalent with copier)-->
<!--We do either 4x1 or 2x2, videos on endless loop with 5 seconds (or so) showing a picture of-->
<!--the notes.-->
<!--“To Alex: I hope you enjoy reading about auctions! PM” “Dear Alex: I wish this inspires-->
<!--the way you think about markets. AR” - Let’s try and copy them ourselves and if we fail-->
<!--we can go back to Paul/Al and ask them to copy themselves and be sneaky about deception.-->
<!--We buy 6 copies and have them handwritten two copies each, and then we decide what to do.-->
<!--Plan A is to copy ourselves and Plan B.]-->

<!-- <p>
    Alex will receive two books, either the two with the original handwritten notes or the two with the fake ones.
    We will return the two books that we do not give to Alex back to Professors Roth and Milgrom.
    They will never know whether the books they get have the fake or the original notes in them.
</p>
<p>
    In addition to the books, Alex may also receive a surprise bonus.
    The answers you give will determine: - which two books (original or fake) he receives - the surprise bonus
</p>
 -->

{% endblock %}

{% block styles %}

<style>

    .container {
      padding: 0; /* Remove padding */
    }
    .video-container {
        float: left;
        width: 50%;
        margin: 0px 10px 10px 0;
        
    }
    .book-container {
        float: right;
        width: 35%;
        margin: 0 0 10px 10px;
    }
    .book-image {
      width: 49%; /* Adjust image width */
      padding: 0 0 10px 10px;
    }
</style>


{% endblock %}

{% block scripts %}

{% endblock %}
