{% block title %}
    Andy Warhol
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    Hundreds of Andy Warhol fakes, and one original drawing worth $20k, sold for $250 each.
    An art collective purchased an original Warhol drawing and copied it 999 times.
    The copies are carefully created so that not even their creators can tell them apart from the original drawing.
    They then mixed the original together with the copies and sold the 1000 drawings.
</p>

<p>Please watch the video (1min 1sec) the art collective made (audio is not needed).</p>

<div style="display: flex; justify-content: center;">
<video width="640" height="360" controls>
  <source src="https://moforgeries.org/images/showcase.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
    </div>


<p>You can read more about this story <a href="https://moforgeries.org/" target="_blank">here</a>.</p>

{{ formfields }}

<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}

{% endblock %}
