{% block title %}
Your task
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
<br>
<br>
{{ endif }}

<div class="alert alert-info" role="alert">
    {{ include C.BONUS }}
</div>

                <div class="text-center">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample" id="AdditionalInstructions">
      One more important detail
  </button>
            </div>
<div class="collapse" id="collapseExample">

  {{ include C.DETAIL }}

<p>
    When ready, click "Next."
</p>

<button style="float: right" class="btn btn-primary btn-large">Next</button>

</div>

{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
    <script>
        $("#AdditionalInstructions").click(function () {
        $("#AdditionalInstructions").css("display", "none");
    });
    </script>
{% endblock %}
